@model NordstromAudition.DataServices.SearchResult

@{
    var url = System.Configuration.ConfigurationManager.AppSettings["ImageUrlBase"];
    var imgurl = string.Format(url, "large", Model.Image_Url);
}
<div class="product-detail-container">
    <a class="nav-search-results" href="/">Back To Search Results:</a>
    <div class="product-detail-img-column">
        <img src="@imgurl" alt="@Model.Name" />
    </div>
    <div class="product-detail-meta-column">
        <table>
            <tr>
                <td>Brand:</td>
                <td>@Model.Brand</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Product Id:</td>
                <td>@Model.Style_Id</td>
            </tr>
            <tr>
                <td>Price: </td>
                <td>@Model.Formatted_Regular_Price</td>
            </tr>

        </table>
        <button>Add to cart</button>
    </div>
</div>
